@import url('https://fonts.googleapis.com/css?family=Barlow|Julius+Sans+One');

h1, h2, h3, h4{
  font-family: "Julius Sans One", sans-serif;
}

h1{
  align-content: center;
}

p, nav, ul {
  font-family: "Barlow", sans-serif;
}
body p{
  font-color: rgb(0, 0, 0);
}
body{
  color: #222;
}

nav ul {
  list-style-type: none;
  padding-left: 0;


}

nav li{
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
}
a:visited{
  color: rgb(83, 121, 143);
}

a:hover{
  color: rgb(114, 114, 114)
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
    background-color: #eee;
  }

.videos{
  max-width:700px;
  margin:0 auto;
  padding:10px;
}

#photo{
  grid-area: photo;
}

#about{
  grid-area: about;
}

.grid-one{
  display: grid;
  grid-template-columns: repeat(2,auto);
  grid-template-rows: repeat(2, auto);
  grid-gap: 20px;
  grid-template-areas:
  "about photo"
}
